
<div class="gallery row">
    {{#each art}}
    <a class="col-xs-6 col-sm-4" href="/art/{{art_id}}">
        <img src="/public/art/{{img_location}}" alt="{{title}}" height="200" width="200">
    </a>
    {{/each}}
</div>

