<center>
<br>
<h1>Welcome, {{user.username}}</h1>
<br>
<div class="jumbotron">
  <h4>Ten most recent art pieces from artists you follow </h4>
<ul style="list-style-type: none;">
    {{#unless art}}
    No recent art found. Try <a href="/artists">following some artists.</a>
    {{/unless}}
    {{#each art}}
        <li style="padding-bottom: 20px;">
            <a href="/art/{{art_id}}">
                <img src="/public/art/{{img_location}}"></img>
            </a>
        </li>
    {{/each}}
</ul>
</div>
</center>