<br>
<h1>Search page</h1>
<br>
<form action="/search" method="post" name="search">
    <input type="text" name="tags" placeholder="Enter comma-separated tags" style="width: 250px">
    <input type="submit" value="Search">
</form>

    {{#if results}}
        <br>
        {{#each results}}
        <ul>
            <li>
                <a href = /art/{{art_id}}>{{art_id}}</a>
            </li>
        </ul>
        {{/each}}
    {{else}}
    <p></p>No results found.</p>
    {{/if}}


